################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/DirIndex/bin
/src/DirIndex/obj
/src/SampleTreeGen/bin/Debug/net6.0
/src/SampleTreeGen/obj
/src/DirIndex.Tests/bin/Debug/net6.0
/src/DirIndex.Tests/obj
